a:link { color: blue;}

a:visited { color: pink;}

a:hover{ color: red;}

a:active { color: yellow;}

a:first-child { color: orange;}

li:last-child { color: purple;}

li:nth-child(2) { font-weight: bold; }

input:focus { background-color: yellow; }

input[type="checkbox"]:checked {
    outline: 2px solid green;}


input:disabled {
    background-color: gray;}

p:not(.especial) {
    color: gray;}